.input {
	height: 2.5rem;
	width: 100%;
	border: 1px solid #28123e; /* border-primary */
	border-radius: 3px;
	padding-top: 0.25rem;
	padding-inline: 0.5rem;
	color: #28123e; /* text-primary */
	background: white;
}

.polkadot {
	composes: input;
	padding-right: 2.5rem;
	background:
		url(coin.svg) no-repeat center right 7px/20px,
		url(bar.svg) no-repeat center right 35px;
	background-color: white;
}
