.input {
	height: 2.5rem;
	width: 100%;
	border: 1px solid #606060;
	border-radius: 10px;
	padding-top: 0.25rem;
	padding-inline: 0.5rem;
	color: #131313;
	background: white;
}

.polkadot {
	composes: input;
	padding-right: 2.5rem;
	background:
		url(coin.svg) no-repeat center right 7px/20px,
		url(bar.svg) no-repeat center right 35px;
	background-color: white;
	-moz-appearance: textfield;
}

.polkadot::-webkit-inner-spin-button {
	display: none;
}

.switch {
	--width: 52px;
	--height: 28px;
	--offset: 3px;
	--knob: calc(var(--height) - var(--offset) * 2);

	appearance: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	display: inline-grid;
	flex-shrink: 0;
	inline-size: var(--width);
	block-size: var(--height);
	place-items: center;
	position: relative;
	border-radius: calc(var(--height) / 2);
}

.switch::before {
	content: '';
	inline-size: var(--width);
	block-size: var(--height);
	border-radius: calc(var(--height));
	background: var(--toggle-background, theme('colors.backgroundBounty'));
	position: absolute;
	border: 1px solid theme('colors.backgroundButtonDark');
}

.switch:checked::before {
	background: theme('colors.accent');
	border: 1px solid theme('colors.accent');
}

.switch::after {
	content: '';
	padding: 0px 0px 2px;
	background-color: var(--switch-background, theme('colors.backgroundButtonDark'));
	inline-size: var(--knob);
	block-size: var(--knob);
	border-radius: 50%;
	position: absolute;
	inset-inline-start: var(--offset);
	transition:
		inset-inline-start 0.3s,
		background-color 0.3s;
}

.switch:checked::after {
	content: '✔';
	color: theme('colors.accent');
	text-align: center;
	background-color: var(--switch-checked-background, theme('colors.white'));
	inset-inline-start: calc(var(--width) - var(--knob) - var(--offset));
	border: 1px solid theme('colors.accent');
}
