# When adding a new variable run `svelte-kit sync` to update the TypeScript definitions
PUBLIC_NODE_ENDPOINT=ws://localhost:8000
PUBLIC_HIDE_TEST_BAR=false
PUBLIC_WALLET_CONNECT_PROJECT_ID=75706f3e77002695ab0d89128b3e35bc
