.dialog {
	margin: revert !important;
	padding: 0.75rem;
	padding-top: 0.5rem;
	min-height: 13rem;
	max-height: 100svh;
	width: 100%;
	background: #fcfcfc; /* bg-backgroundApp */
	outline: none;

	@media (min-width: 375px) {
		width: 400px;
	}

	@media (min-width: 768px) {
		width: 490px;
		padding-block: 1.5rem;
		padding-inline: 1.75rem;
	}
}

.dialog::backdrop,
.backdrop {
	background-color: rgba(0 0 0 / 0.6); /* bg-black */
}

.backdrop {
	position: fixed;
	inset: 0;
	z-index: 10; /* to cover some elements with position: relative */
}

.closeForm {
	text-align: right;
}

.close {
	height: 30px;
	width: 30px;
	background: transparent url('../svg/CloseIcon.svg') no-repeat center center/30px;
}

.title {
	margin-bottom: 1.25rem;
	padding-top: 0.25rem;
	font-size: 1.5rem;
	line-height: 2rem;

	@media (min-width: 768px) {
		padding-top: 0;
	}
}

.output {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
