@import './components/Typography/Typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-white: white;
	--color-primary: #28123e;
	--color-secondary: #431b5e;
	--color-accent: #e6007a;
	--color-backgroundContent: #e5e3ee;
	--color-backgroundContentWrapper: #bfacbf;
	--color-borderColor: #695592;
	--color-childBountyOrange: #dd700d;
	--color-childBountyGray: #65708b;
	--color-childBountyGreen: #087c2b;
	--color-childBountyBackground: #d7d5e2;
	--color-childBountyHeaderBackground: #f4f4f4;
	--color-curatorMainBackground: #836fac;
	--color-curatorCarousel: #6b598c;
	--color-darkgray: #94889f;
	--color-extendButtonBackground: #660000;
	--color-gray-100: #f3f4f6;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-notifications: #ffaa35;
	--color-red: #e6003d;
}

body {
	color: var(--color-primary);
}

.basic-button {
	padding-inline: 2.5rem;
	padding-top: 0.25rem;
	border-radius: 0.375rem;
	color: var(--color-white);
}

.button-active {
	@apply basic-button bg-accent;
	background-color: var(--color-accent);
}

.button-active:disabled {
	@apply basic-button;
	background-color: rgba(230, 0, 122, 0.5);
}

.button-cancel {
	@apply basic-button;
	background-color: var(--color-darkgray);
}

.button-cancel:disabled {
	@apply basic-button;
	background-color: rgba(138, 124, 151, 0.5);
}

.button-popup {
	@apply px-10 rounded-md bg-white text-accent;
}

.link-button {
	display: inline-grid;
	place-content: center;
}
