@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Overpass Light';
	src: url('/fonts/Overpass-Light.ttf') format('sans-serif');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass';
	src: url('/fonts/Overpass-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass Bold';
	src: url('/fonts/Overpass-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Overpass Italic';
	src: url('/fonts/Overpass-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Material Symbols Rounded';
	src: url('/fonts/MaterialSymbolsRounded.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Material Symbols Outlined';
	src: url('/fonts/MaterialSymbolsOutlined.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Secular One';
	src: url('/fonts/SecularOne-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PT Mono';
	src: url('fonts/PTMono-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

body {
	font-family: 'Overpass';
	color: theme('colors.primary');
}

.basic-button {
	@apply px-10 pt-1 rounded-md text-white;
}

.button-active {
	@apply basic-button bg-accent;
}

.button-active:disabled {
	@apply basic-button;
	background-color: rgba(230, 0, 122, 0.5);
}

.button-cancel {
	@apply basic-button;
	background-color: theme('colors.darkgray');
}

.button-cancel:disabled {
	@apply basic-button;
	background-color: rgba(138, 124, 151, 0.5);
}

.button-popup {
	@apply px-10 rounded-md bg-white text-accent;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	line-height: 0px;
}

.material-symbols-rounded {
	font-family: 'Material Symbols Rounded';
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}
