@import './components/Typography/Typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: theme('colors.backgroundApp');
}

.basic-button {
	@apply px-10 pt-1 rounded-md text-white;
}

.button-active {
	@apply basic-button bg-accent;
}

.button-active:disabled {
	@apply basic-button;
	background-color: rgba(230, 0, 122, 0.5);
}

.button-cancel {
	@apply basic-button;
	background-color: theme('colors.backgroundButtonDark');
}

.button-cancel:disabled {
	@apply basic-button;
	background-color: theme('colors.backgroundButtonLight');
}

.button-popup {
	@apply px-10 rounded-md bg-backgroundButtonDark text-white;
}

.link-button {
	display: inline-grid;
	place-content: center;
}
